<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>个人信息</h1>
{{ request.session.INIT_DICT.User.NickName }}
<img src="/avatar.html?prav={{ request.session.INIT_DICT.User.HeadImgUrl}}" >
<h1>最近联系人信息</h1>
<ul>
{% for user in request.session.INIT_DICT.ContactList %}
<li><img src="/avatar.html?prav={{ user.HeadImgUrl}}" >{{ user.UserName }}{{ user.NickName }}</li>

{% endfor %}
</ul>
<h1>公众号信息</h1>
{% for public in request.session.INIT_DICT.MPSubscribeMsgList %}
<li>{{ public.UserName }}{{ public.NickName }}</li>

{% endfor %}
<a href="/contact_list.html">更多联系人</a>
</body>
</html>